.productSlideContainer{
    position: relative;
    font-family: sans-serif !important;
    background-color: white;
    padding: 10px 20px;
    margin: 10px 30px 0 30px;
    height: 367px;

}

.slider{
    overflow: hidden;
    cursor: pointer;
    scroll-behavior: smooth;
    overflow-y: hidden;
}

.slider::-webkit-scrollbar{
    height: 6px;
}

.slider::-webkit-scrollbar-thumb{
    background-color: #aeaeae;
    border-radius: 5px;
}

.slider::-webkit-scrollbar-button{
    display: none;
}

.productSlideContainer:hover .slider{
     overflow: scroll;
     overflow-y: hidden;
}

.cards{
    display: flex;
    padding-top: 8px;
    margin-top: 45px;
}

.myCard{
    width: auto;
    margin-right: 8px;
    padding-bottom: 10px;
    background-color: rgb(247,247,247);
    color: black;
    align-items: center;
}

.sliderHeading{
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    position: absolute;
    top: 23px;
}

.sliderImage{
    width: 200px;
    height: 183px;
    margin: 8px 20px;

}

.saleTitle{
    display: flex;
    width: 100%;
    text-align: left;
    align-items: center;
    column-gap: 6px;
    margin-top: 8px;
}

.percent{
    background-color: rgb(204,12,57);
    padding: 4px 6px;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 400;
    height: 24px;
    line-height: 12px;
    word-spacing: 2px;
    color: white;
}

.saleName{
    color: rgb(204,12,57);
    font-size: 12px;
    font-weight: 700;
}

.sliderProductName{
    font-size: 13px;
    font-weight: 400;
    text-align: left;
    padding-top: 2px;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 240px;
}

.prevButton,
.nextButton{
    width: 45px;
    height: 100px;
    margin: 0;
    position: absolute;
    top: 35%;
    display: flex;
    opacity: 0.2;
    transition: opacity 1s;
    background-color: white;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.nextButton{
    right: 20px;
    padding-left: 5px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.next{
    padding-left: 5px;
    background-image: url("https://m.media-amazon.com/images/S/sash/x6ok$LYiGGUKJXl.png");
    background-position-x: 0px;
    background-position-y: -23px;
    background-size: 132px 235px;
    height: 22px;
    width: 13px;
    border: none;
    background-color: white;
}

.prevButton{
    left: 20px;
    padding-right: 5px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.prev{
    padding-left: 5px;
    background-image: url("https://m.media-amazon.com/images/S/sash/x6ok$LYiGGUKJXl.png");
    background-position-x: -14px;
    background-position-y: 0px;
    background-size: 132px 235px;
    height: 22px;
    width: 13px;
    border: none;
    background-color: white;
}

.productSlideContainer:hover .prevButton,
.nextButton{
    opacity: 1;
    transition: opacity 1s;

}