*{
    margin: 0;
    padding: 0;
    font-family:  sans-serif !important;
    box-sizing: border-box;
}

:root {
    --primary-color:#febd69;
    --primary-shade:#d49644;
}

body{
    overflow-x: hidden;
    overscroll-behavior: none;
}